page-login {

  $text-input-placeholder-color	:white;

    .backimage{
      background-image: url('https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .login-img{
      padding-top: 13%;
      width: 55%;
      margin: auto;
      display: block;
    }

    .center{
      text-align: center
    }
  
    .input-login {
      border: none !important;
    }
  
    .item-inner {
      border: none !important;
    }
  
    .text-input {
      margin-left: 10px;
    }
  
    .input-wrapper {
      border: 2px solid #ccc;
      border-radius: 5px;
    }
  
    .text-right {
      float: right;
    }
  
    .register {
      line-height: 40px;
      color: #f53d3d;
      cursor: pointer;
    }
  
    .login {
      height: 40px;
      width: 100px;
      margin-right: -7px;
      border-radius: 5px;
    }
  
    .item-md.item-input.item-input-has-focus .item-inner,
    .item-md.item-input.input-has-focus .item-inner {
      border-bottom-color: none ;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  
    .btn_login {
      border-radius: 5px;
    }
  
  }
  