page-view-nilai-siswa {

    .header-cardd{
        text-align: center;
        font-weight: bold;
    }

    .font-items{
        color: black;
        font-weight: bold;
    }

    .backgrounds{
        background-image: url('../../assets/imgs/background-3.jpg');
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
      }

}
