<!--
  Generated template for the EventPaguyubanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="pallete-blueold">
    <ion-title>Daftar Acara</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let item of resultJadwal">

    <img src="https://www.seoclerk.com/pics/311379-1ZiBxt1420223328.jpg">
  
    <ion-item>
      <ion-icon name="bookmark" item-start large></ion-icon>
      <h2>{{ item.nama_acara }}</h2>
      <p style="white-space: normal;">{{ item.detail_acara }}</p>
    </ion-item>
  
    <ion-item>
      <ion-icon name="pin" item-start large ></ion-icon>
      <h2>Rumah {{ item.tempat_acara }}</h2>
      <p style="white-space: normal;">Alamat : {{ item.alamat_acara }}</p>

    </ion-item>
  
    <ion-item>
      <button  *ngIf="roles != 6" ion-button icon-start clear item-start color="danger" (click)="Delete(item.key)">
        <ion-icon name="trash"></ion-icon>
      </button>
      <small item-end> {{ item.tgl_acara }} </small>
      <small item-end>(Dibuat oleh : {{item.dibuat_oleh}})</small>
    </ion-item>
  
  </ion-card>

    <!-- Fab Button -->
    <ion-fab bottom right *ngIf="roles != 6" >
      <button color="pallete-redold" ion-fab mini (click)="toCreateEvent()" ><ion-icon name="add"></ion-icon></button>
    </ion-fab>

</ion-content>
